:root {
    --primary-color: darkblue;
    --secondary-color: white;
    --border-color: black;
    --shadow-color: gray;
    --aside-background: #eeeeee;
    --text-color: #333;

    --standard-padding: 1rem;
    --small-padding: 10px;
    --large-padding: 20px;

    --main-width: 800px;
}

nav {
    background-color: var(--primary-color);
    padding: var(--small-padding)
}

nav a {
    color: var(--secondary-color) display: block;
    padding: var(--large-padding)
}

h1 {
    color: var(--primary-color)
}

main {
    max-width: var(--main-width);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);
}
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: var(--satndard-padding) border: 1px solid var(--border-color) padding: 1rem;
    background-color: var(--aside-background);
    color: var(--text-color)
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: var(--standar-panding) border-top: 1px solid var(--border-color);
    text-align: center;
}