.callout {
	 max-width: 500px;
  margin: 20px auto;
  border: 1px solid #333;
  padding: 20px;
  background-color: #f9f9f9;
  color: #333;

}

.callout img {
	float: right;
  margin: 0 0 10px 20px;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #fff;
  width: 150px;
  height: auto;

}

blockquote {
	 margin: 0;

}

cite {
	display: block;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  text-align: right;
  font-size: 0.9em;

}