body {
    font-family: Arial, sans-serif;
    background-color: #eee;
}

main {
    max-width: 400px;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

h1 {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px gray;
}

section {
    background-color: #ddd;
    padding: 1rem;
    margin: 1rem 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}